head {background-color: #dcf3f7;
}

h1 { font-size: 400%; color: #05232c; text-align: center;
}
header {
    background-color: rgb(132, 218, 230);
    margin-top: 0%;
    padding-top: 1.5em;
}
header nav{
     width: 100% ;
     height: auto;  
    background-color: rgb(25, 100, 134);
    display: inline-block;
    
}
header nav ul li{
    display: inline-block;
    
    margin-left: 5%;
}
ul{
    margin: 0% 0% 0% 0%;
    padding-left: 0%;
}
header nav ul li a{
    color: rgb(240, 245, 245);
    text-decoration: none;
    font-weight:bold;
    float: left;
   margin-bottom: 1.5em;
}

body {background-color: rgb(212, 234, 248);}
 .inline-block {text-align: center;
    display: inline-block;

 }

 footer{
    height: 100px;
    background-color:#a1d5ff;
}


footer p{
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-weight: 800;
    
}

.contant .first {
    line-height: 1.5em;
    float:left;
    display:block;
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
 .contant .second {
     line-height: 1.5em;
     float: right;
     padding-top: 1em;
    display: block;
    padding-left: 1.5em;
    padding-right: 1.5em;
}
 .introduction{
     line-height: 1.5em;
     padding-top: 2em;
     padding-left: 1.5em;
     padding-right: 1.5em;
    }

 h2 {
     padding-top: 2em;
     padding-left: 1em;
     padding-right: 1.5em;
}